*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E0EFF5;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    background-color: #168ABB;
    color: white;
    text-align: center;
    padding: 20px;
}
.search-results{
    width: 70%;
}
.search-results > input{
    width: 80%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border-width: 0;
    margin-bottom: 20px;
    
}

.search-results > button{
    width: 100px;
    padding: 5px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border-width: 0;
}
#result h3{
    margin-bottom: 18px;
}
#result ul{
    margin-top: 19px;
    padding-left: 40px;
}

.search-description{
    margin-top: 10px;
}

hr{
    margin-bottom: 10px;
}
